################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SeriestWatchLogger/.vs/SeriestWatchLogger/v17
/SeriestWatchLogger/bin/Debug/net6.0-windows
/SeriestWatchLogger/obj
